.whats-happening{
    border-radius: 15px;
    background: #f5f8fa;
    margin-bottom: 15px;

}
.whats-happening__block{
    border-bottom: 1px solid #e6ecf0;
    padding: 10px 15px;
    
}
.whats-happening__block:last-child{
    border-bottom: none;
}
.whats-happening__heading{
    font-size: 19px;
    font-weight: bold;
    color: #14171a;
}
.whats-happening__meta-information{
    font-size: 13px;
    font-weight: 300;
    color: #657786;
    
}
.whats-happening__trend-name{
    font-size: 15px;
    color: #14171a;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 2px;
    
}
.whats-happening__show-more{
    color: #1da1f2;
}